*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*.outer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}*/

.main-container{
    background-color: darkgrey; 
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    box-sizing: border-box; 
    position: relative;
    top: 20px;
    margin: 20px auto;
    margin-left: 20%;
    margin-right: 20%;
    max-height: min-content;
    text-align: center;
}

/* .outer-container > .main-container {
    border: 2px solid black
} */

.form-group {
    display: flex;
    align-items: center; 
    margin-bottom: 30%x; 
}

.main-upper-text{
    margin-top: 20px;
    text-align: center;
}

#main-heading{
    font-size: larger;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
form input{
    font-size: large;
    width: 55%;
    height: 50px;
    border: none;
    background-color: whitesmoke;
    /*border: 2px solid black;*/
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}
form input::placeholder{
color:lightslategrey;
}

form button{
    /*font-size: large;
    width: 35%;
    height: 30px;
    border: none;
    background-color: #42adf5;
    border: 2px solid black;
    border-radius: 10px;*/
    width: 100%; 
    padding: 10px; 
    border: none; 
    border-radius: 4px; 
    background-color: #092747; 
    color: white; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s;
    margin-top: 10px;
}
form button:hover{
    background-color: #34495e;
    color: white;
}
.main-container a{
    color:#2f6ead; 
    text-decoration: none; 
    transition: color 0.3s ease;    
}

.main-container a:hover {
    color:cornflowerblue;
}
p{
    margin-bottom: 10px;
    margin-top: 5px;
}

h1 + *  + p {
    font-style: italic;
}

h1 ~ p {
    color: darkslategrey;
} 

@media (max-width: 768px) {
    .main-container {
        width: 90%;
        margin-bottom: 10%;
    }

    form input, form button {
        width: 80%;
    }
    form button {
        width: 40%;
    }
}
header a{
    font-size: 24px;
}

.userDropdown {
    position: relative; 
    display: inline-block;
}

.dropdown-content {
    display: none; 
    position: absolute;
    background-color: white; 
    width: auto; 
    max-width: 300px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; 
    right: 0; 
    margin-top: 8px; 
    border: 1px solid #ddd; 
    font-size: calc(0.45em + 0.35vw); 
    min-width: auto; 
    height: auto; 
    max-height: 60vh; 
    overflow-y: auto; 
    padding: 8px; 
    overflow-wrap: break-word; 
}

.dropdown-content span,
.dropdown-content a {
    display: block;
    padding: 8px; 
    color: black; 
    text-decoration: none; 
    font-size: medium;
}

.dropdown-content a:hover {
    background-color: #f1f1f1; 
}

@media (max-width: 600px) {
    .dropdown-content {
        width: 90vw; 
    }
}