* {
    font-family: Verdana;
    box-sizing: border-box;
    
  }
body {
    line-height: 1.6;
    margin: 0;
     }

ul {
    margin: 0;
    padding: 0;
    list-style: none;
     
    }

a {
    color: #34495e;
    text-decoration: none;
     
    }

/*.logo {
    margin: 0;
    font-size: 1.1em;
      } */

section {
    padding: 10px 15px;
    margin: 10px;
    display: block;
        }
.header {
    height: auto;
    display: flex;
    font-size: 24px;
    background-color: #0F172A;
    justify-content: space-between;
    margin: 0;
    padding: 30px;

    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #646174;
    background-color:#0F172A;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    position: sticky;
    width: 100%;
    border-radius: 5px;


}
header div {
    display: flex;
    align-items: center;
}

.headerDiv > a {
    margin: 20px;
    color: white;
    text-decoration: none;
}
.headerDiv a:hover {
    background-color: #3777bc;
}

.nav {
    margin-top: 5px;
     }
.nav {
    margin-top: 5px;
     }

.nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: left;
    display: block;
    color: #34495e;
    font-size: .99em;
       }
.nav a:hover {
    background-color: #7ebeb6;
    color: #092747;
             }
@media (min-width: 800px) {
    .header,
    .nav {
        display: flex;
    }
    .header {
        flex-direction: column;
        align-items: flex-start;
    }
}
@media (min-width: 1000px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
}
body {
    margin: 0;
    line-height: 1.6; /*added 16.11 */
    font-family: Verdana; /* Font styling */
    background-color: #D9D9D9; /* Light gray background */
    padding: 0; /* Remove default padding */
}

.login-container {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    background-color: #ffffff; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    padding: 30px; 
}

h1 {
    margin: 0 0 20px; 
}

h1 + *  + p {
    font-style: italic;
}

h1 ~ p {
    color: darkslategrey;
} 


.form-group {
    margin: 15px 0; 
    width: 100%; 
}

input[type="email"],
input[type="password"] {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box; 
}    

input[type="submit"] {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 15px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    width: 100%; 
    margin-top: 10px; 
}

input[type="submit"]:hover {
    background-color: #45a049; 
}

.forgot-password {
    margin-top: 10px; 
}

a {
    color: #007BFF; 
    text-decoration: none; 
}

a:hover {
    text-decoration: underline; 
}

.login-container > body {
    display: grid;
    place-items: center; 
    height: 100vh; 
    margin: 0; 
}
